body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.table-container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 1s ease-out;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: green;
    color: white;
}

tr {
    animation: slideIn 0.5s ease-out;
}

.list-container {
    max-width: 600px;
    width: 100%;
    background-color: green;
    border: none;
    overflow: hidden;
    padding: 20px;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ul li {
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.ul li a {
    text-decoration: none;
    color: white;
}

.ul li:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

@media (min-width: 600px) {
    .ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .ul li {
        width: 30%;
        box-sizing: border-box;
        margin: 10px 0;
        flex: 1 1 calc(33.333% - 20px); /* Ajusta o cálculo para a margem */
    }
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.card-img-top {
    cursor: pointer;
}

.transition-box {
    width: 300px;
    height: 300px;
    background-color: green;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: background-color 0.5s ease, transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.transition-box img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.5s ease;
}

.transition-box:hover img {
    transform: scale(1.1);
}

.transition-box:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

main, #maioresTorcidas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}